.App {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(5, 1fr);
}

.Header{
  background: blue;
  margin: 0;
  position: relative;
  float: left;
  width: 100%;
  grid-column: 1/6;
}

.Header h1 {
  font-size: 2vw;
  text-align: center;
  color: red;
  font: helvetica;
}

.Statuses{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/6;
  width: 90%;
  margin-left: 5%;
}

.Status {
  width: 100%;
  background: orange;
  padding-top: 1vw;
  padding-bottom: 1vw;

}

.Status h1 {
  font-size: 3vw;
}